extends partials/layout
block content
	.container-fluid.m-0.p-0
		#homeCarouselControls.carousel.slide(data-ride='carousel',data-ng-init="request.list('carousel')")
			.carousel-inner
				.carousel-item(data-ng-repeat="carousel in content.carousel.list",data-ng-class="$index==0?'active':''")
					picture(data-ng-if="carousel.images&&carousel.images.length>0")
							source(
								data-ng-repeat="type in ['webp','png','jpg']",
								data-ng-if="carousel.images[0].thumbnail[type]",
								type="image/{{type}}",
								data-ng-srcset="/thumbnail/carousel/{{carousel._id+'/'+carousel.images[0].thumbnail[type].name+'/'+carousel.images[0].thumbnail[type].name+'.'+type}}"
							)
							img.d-block.w-100(data-ng-src="{{build.defimgsrc('carousel',carousel)}}" title="{{carousel.name}}" alt="{{carousel.name}}")
			a.carousel-control-prev(href='#homeCarouselControls', role='button', data-slide='prev')
				span.carousel-control-prev-icon(aria-hidden='true')
				span.sr-only Previous
			a.carousel-control-next(href='#homeCarouselControls', role='button', data-slide='next')
				span.carousel-control-next-icon(aria-hidden='true')
				span.sr-only Next
	.container-fluid.p-1.d-none.d-lg-block
		img.w-100(data-ng-src="images/animation.svg" style="Saloras Satellite Center")
	.container-fluid(data-ng-init="request.list('article',true)")
		.row
			.col-12.col-sm-6.col-md-4.col-lg-2.p-3(data-ng-repeat="article in content.article.list")
				.card
					a.text-dark(data-ng-href="/article/{{article._id}}")
						picture(data-ng-if="article.images&&article.images.length>0")
							source(
								data-ng-repeat="type in ['webp','png','jpg']",
								data-ng-if="article.images[0].thumbnail[type]",
								type="image/{{type}}",
								data-ng-srcset="/thumbnail/article/{{article._id+'/'+article.images[0].thumbnail[type].name+'/'+article.images[0].thumbnail[type].name+'.'+type}}"
							)
							img.img-thumbnail.p-0(data-ng-src="{{build.defimgsrc('article',article)}}" title="{{article.title}}" alt="{{article.title}}")
					.card-body
						h5.card-title
							a.text-dark(data-ng-href="/article/{{article._id}}",data-ng-bind="article.name")
						p.card-text.small.d-none.d-lg-block.text-truncate(data-ng-bind="article.description")
						.text-right
							a.btn.btn-sm.btn-outline-secondary.text-secondary(data-ng-href="/article/{{article._id}}") Περισσότερα
	.container-fluid.p-2.small
		p.px-2.mt-3 Η Saloras Satellite Center (SSC) δραστηριοποιείται στο χώρο των επικοινωνιών, στην προμήθεια και εγκατάσταση τεχνολογικού εξοπλισμού και υπηρεσιών για μεγάλα ξενοδοχειακά και αστικά συγκροτήματα, οικισμούς κλπ. Σήμερα η εταιρεία SSC είναι από τους πλέον έμπειρους προμηθευτές και κατασκευαστές δικτύων οπτικών ινών, ολοκληρωμένων δορυφορικών κέντρων λήψης - διανομής και καλωδιακών δικτύων RF μεγάλης έκτασης.
	script(type="application/ld+json").
		{
			"@context": "https://schema.org",
			"@type": "LocalBusiness",
			"currenciesAccepted": "EUR",
			"paymentAccepted":"Cash, Credit Card",
			"address":
			{
				"@type":"PostalAddress",
				"addressCountry":"GR",
				"addressLocality":"Ηράκλειο Κρήτης",
				"postalCode":"71304",
				"streetAddress":"Στρυμώνος 11"
			},
			"email":"info@saloras.gr",
			"telephone":"281 037 2800",
			"description": "Είμαστε η πρώτη εταιρία που από την ίδρυση της ασχολήθηκε με τις δορυφορικές επικοινωνίες (Πρώτη δορυφορική λήψη στην ΚΡΗΤΗ την 30-06-85) εφήρμοσε την παράλληλη διανομή τηλεοπτικών, μουσικών και πληροφοριακών (μέσω υπολογιστή)  καναλιών, με πρώτη μεγάλη εγκατάσταση το 1989 στο CRETA PALACE της GRECOTEL στο ΡΕΘΥΜΝΟ.",
			"name": "Saloras Satellite Center",
			"openingHours": "Mo-Sa 09:00-21:00",
			"priceRange":"$$$",
			"image":"https://www.saloras.gr/images/logo-banner.svg"
		}