form.container(data-ng-if="content."+model+".edit")
	fieldset(data-ng-disabled="content."+model+".edit.tmp.disabled")
		h1.h3.text-capitalize.mb-5="Επεξεργασία "+model
		.text-right.my-4(data-ng-include="'template/button-group.edit.html'")
		.row(data-ng-repeat="column in content."+model+".schema")
			.col-12
				span(data-ng-if="admin.inArray(column,['_id'])")
				span(data-ng-if="admin.inArray(column,['password'])")
				.form-check.mb-3(data-ng-if="admin.inArray(column,['active','subscribe','open','sticky'])")
					input.form-check-input(type='checkbox',id="edit-{{column}}}",data-ng-model="content."+model+".edit[column]")
					label.text-capitalize.form-check-label(for='edit-{{column}}}',data-ng-bind="column")
				.form-group(data-ng-if="admin.inArray(column,['email','co-email'])")
					label.text-capitalize(for='edit-{{column}}}',data-ng-bind="column")
					input.form-control(id="edit-{{column}}}",type='email',placeholder='name@example.com',data-ng-model="content."+model+".edit[column]")
				.form-group(data-ng-if="admin.inArray(column,['email'])")
					label.text-capitalize(for='edit-password') New password
					input.form-control.w-75(id="edit-password",type='password',data-ng-model="content."+model+".edit['password']")
				.form-group(data-ng-if="admin.inArray(column,['price','offer'])")
					label.text-capitalize(for='edit-{{column}}}',data-ng-bind="column")
					input.form-control.w-25(id="edit-{{column}}}",type='number',data-ng-model="content."+model+".edit[column]",step="0.01")
				.form-group(data-ng-if="admin.inArray(column,['order','count',quantity])")
					label.text-capitalize(for='edit-{{column}}}',data-ng-bind="column")
					input.form-control.w-25(id="edit-{{column}}}",type='number',data-ng-model="content."+model+".edit[column]",step="1")
				.form-group(data-ng-if="admin.inArray(column,['createdAt','updatedAt'])")
					label.text-muted.text-capitalize(for='edit-{{column}}}',data-ng-bind="column")
					label.text-muted.form-control.w-25(id="edit-{{column}}}",type='text',data-ng-bind="content."+model+".edit[column]")
				//Parent
				.form-group(data-ng-if="admin.inArray(column,['parent'])",data-ng-init="request.table('"+model+"')")
					label.text-muted.text-capitalize(for='edit-{{column}}}',data-ng-bind="column")
					select.form-control.form-control-sm(id="edit-{{column}}}-model",type='text',data-ng-model="content."+model+".edit[column]",data-ng-options="parent._id as parent.name for parent in  content."+model+".table")
				//URL
				.form-group.p-3.border.border-muted(data-ng-if="admin.inArray(column,['url','uri','link'])")
					h5.text-capitalize
					.form-group
						label.text-capitalize(for='edit-{{column}}}-template') Template
						input.form-control.form-control-sm(list="edit-template-list",id="edit-{{column}}}-template",type='text',data-ng-model="content."+model+".edit[column].template",placeholder="Default")
						span(data-ng-include="'/template'")
					.form-check
						input.form-check-input(type='checkbox',id="edit-{{column}}}-_blank",data-ng-model="content."+model+".edit[column]._blank")
						label.text-capitalize(for='edit-{{column}}}-model-_blank') Blank
					.form-group
						label.text-capitalize(for='edit-{{column}}}-model') Model
						select.form-control.form-control-sm(id="edit-{{column}}}-model",type='text',data-ng-model="content."+model+".edit[column].model",data-ng-options="menu for menu in  modules.split(',')")
					.form-group
						label.text-capitalize(for='edit-{{column}}}-function') Function
						input.form-control.form-control-sm(id="edit-{{column}}}-function",type='text',data-ng-model="content."+model+".edit[column].function",placeholder="Leave empty for regular functions (list, show etc.)")
					.form-group
						label.text-capitalize(for='edit-{{column}}}-_id') _id
						input.form-control.form-control-sm(id="edit-{{column}}}-_id",type='text',data-ng-model="content."+model+".edit[column]._id",placeholder="Use only for single record ids")
					.form-group
						label.text-capitalize(for='edit-{{column}}}-query') query
						input.form-control.form-control-sm(id="edit-{{column}}}-query",type='text',data-ng-model="content."+model+".edit[column].query",placeholder="URL query row format (?this=is&other=is))")
					.form-group
						label.text-capitalize(for='edit-{{column}}}-external') External URL
						input.form-control.form-control-sm(id="edit-{{column}}}-external",type='text',data-ng-model="content."+model+".edit[column].external",placeholder="Use only for external URL http://.....")
				// IMAGE
				.form-group(data-ng-if="admin.inArray(column,['images','thumbnails','pictures'])")
					.row.row-eq-height
						.col-12
							label.text-muted.text-capitalize(for='edit-{{column}}}',data-ng-bind="column")
					.row.row-eq-height.p-3.border.border-muted
						.col-1
							button.card.p-3.border-muted(onclick="document.getElementById('imageAdd').click()")
								.card-title
									h1.text-center.text-primary.font-weight-bold +
							input.d-none#imageAdd(type="file",onchange="angular.element(this).scope().admin.addImage('"+model+"','"+_id+"','#imageAdd')",accept=".png,.jpg,.webp")
						.col-2.mb-4(data-ng-repeat="image in content."+model+".edit[column]")
							.card.p-0.border-muted.h-100.disabled
								.card-footer.text-right.p-0
									a.btn.btn-link.px-1.pb-0(data-ng-href="{{build.defimgsrc('"+model+"',content."+model+".edit)}}",download="{{image.originalname}}")
										i.fas.fa-download.text-primary
									button.btn.btn-link.px-1.pb-0(data-ng-click="admin.deleteImage('"+model+"',content."+model+".edit,image)")
										i.fas.fa-trash-alt.text-danger
									.ml-1.text-left.text-truncate.small
										small.text-muted(data-ng-bind="image.originalname")
								picture
									source(
										data-ng-repeat="type in ['webp','png','jpg']",
										data-ng-if="image.thumbnail[type]",
										type="image/{{type}}",
										data-ng-srcset="/thumbnail/"+model+"/{{content."+model+".edit._id+'/'+image.thumbnail[type].name+'/'+image.thumbnail[type].name+'.'+type}}"
										)
									img.card-img-top(data-ng-src="/img/"+model+"/{{content."+model+".edit._id+'/'+image.filename}}",alt="image")


				.form-group(data-ng-if="admin.inArray(column,['description','text'])")
					label.text-capitalize(for='edit-{{column}}}',data-ng-bind="column")
					//textarea.form-control.form-control-sm(id="cazary",type='text',data-ng-model="content."+model+".edit[column]")
					wysiwyg(data-ng-model="content."+model+".edit[column]",textarea-id='question', textarea-class='form-control', textarea-height='180px', textarea-name='textareaQuestion', textarea-required='', enable-bootstrap-title='true', textarea-menu='menu', textarea-menu-placeholders='placeholderOptions', textarea-custom-menu='custom', fn='talk()', disabled='disabled')



				.form-group(data-ng-if="admin.notInAllArray(column)")
					label.text-capitalize(for='edit-{{column}}}',data-ng-bind="column")
					input.form-control(id="edit-{{column}}}",type='text',data-ng-model="content."+model+".edit[column]")
		.text-right.mb-5(data-ng-include="'template/button-group.edit.html'")
	script(type="text/ng-template",id="template/button-group.edit.html")
		.btn-group
			button.btn.btn-lg.btn-primary(data-ng-click="admin.updateByid('"+model+"',content."+model+".edit,true)")
				i.fas.fa-save.mr-2
				span Save
			a.btn.btn-lg.btn-secondary(data-ng-href="/administrator/"+model)
				i.fas.fa-undo.mr-2
				span Cancel
			button.btn.btn-lg.btn-danger
				i.fas.fa-trash-alt.mr-2
				span Delete